@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.worksans {
    font-family: "Work Sans", sans-serif;
}

.playfair {
    font-family: "Playfair Display", serif;
}

.menu li > *:not(ul, .menu-title, details, .btn):active,
.menu li > *:not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
    border: 1px solid #23be0a;
    background: transparent;
    color: #23be0a;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #1313134d !important;
    margin: 0 0 32px !important;
    padding: 0;
}

.react-tabs__tab {
    font-family: "Work Sans", sans-serif;
    padding: 14px 18px !important;
    font-size: 18px;
    color: #131313 !important;
}

.react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 16px 16px 0 0 !important;
}
